 1. Write a code to create a string with your name and print it

In [ ]:
str1="Binit Kumar Choudhary"
print(str1)

Binit Kumar Choudhary

2. Write a code to find the length of the string "Hello World".

In [ ]:
str2="Hello World"
print(f"String : {str2}\nLength of the given string : {len(str2)} ")

String : Hello World
Length of the given string : 11

 3. Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
a="Python Programming"
b=a[0:3]
print("Sliced String : ", b)

Sliced String :  Pyt

4. Write a code to convert the string "hello" to uppercase.

In [ ]:
a="hello"
b=a.upper()
print(b)

HELLO

5.  Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
str1= "I like apple"
str2=str1.replace("apple","orange")
print(f"String : {str1}\n Updated String : {str2}")

String : I like apple
 Updated String : I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
num = list(range(1, 6))
print(num)

[1, 2, 3, 4, 5]

7.  Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
bk=[1, 2, 3, 4]
bk.append(10)
print(bk)

[1, 2, 3, 4, 10]

 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
bk=[1, 2, 3, 4, 5]
bk.remove(3)
print(bk)

[1, 2, 4, 5]

9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
bk=['a', 'b', 'c', 'd']
bk[1]

'b'

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [4]:
a=[10, 20, 30, 40, 50]
a.reverse()
print(a)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [5]:
tup1=(100,200,300)
print(tup1)
type(tup1)

(100, 200, 300)

tuple

 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [7]:
a= ('red', 'green', 'blue', 'yellow')
a[1:]

('green', 'blue', 'yellow')

 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [10]:
a=(10, 20, 5, 15)
min(a)

5

 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [11]:
a=('dog', 'cat', 'rabbit')
a.index('cat')

1

 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [20]:
a=('Orange','Guava', 'Pinapple')
k='Kiwi'
if k in a :
    print("Kiwi is Present in the tuple.")
else :
    print("Kiwi is not Present in the tuple")

Kiwi is not Present in the tuple

 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [28]:
a={ 'a', 'b', 'c'}
print(a)
type(a)

{'c', 'b', 'a'}

set

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [31]:
a={1, 2, 3, 4, 5}
a.clear()
a

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [34]:
a={1, 2, 3, 4}
a.remove(4)
print(a)

{1, 2, 3}

 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [35]:
a={1, 2, 3}
b={3, 4, 5}
a|b

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [36]:
a={1, 2, 3}
b={2, 3, 4}
a&b

{2, 3}

 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [53]:
dt={"name":"Binit", "age":22, "city":"Kolkata"}
print(dt)
type(dt)

{'name': 'Binit', 'age': 22, 'city': 'Kolkata'}

dict

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [63]:
a={'name': 'John', 'age': 25}
a["country"]= "USA"
a

{'name': 'John', 'age': 25, 'country': 'USA'}

 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [64]:
a={'name': 'Alice', 'age': 30}
a["name"]

'Alice'

 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [68]:
a={'name': 'Bob', 'age': 22, 'city': 'New York'}
del a['age']
a

{'name': 'Bob', 'city': 'New York'}

 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [80]:
a= {'name': 'Alice', 'city': 'Paris'}
i=1
if 'city' in a:
  print("yes It is present as a key in the Dictionary")
else:
        print("It is not a key ")

yes It is present as a key in the Dictionary

 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [61]:
list1=[1,2,'good','bad']
tup={1,8,'a','d'}
dic1={"name":"Binit","age":22 ,"city":"Kolkata"}
print(f"LIST : {list1}\nTupple : {tup}\nDictionary : {dic1}" )

LIST : [1, 2, 'good', 'bad']
Tupple : {8, 1, 'd', 'a'}
Dictionary : {'name': 'Binit', 'age': 22, 'city': 'Kolkata'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [50]:
a=[13,68,57,5,42]
a.sort()
print(a)

[5, 13, 42, 57, 68]

28. Write a code to create a list with strings and print the element at the third index.

In [47]:
a=['Queen','King','Ace','Jocker']
print(a[2])

Ace

29. Write a code to combine two dictionaries into one and print the result.

In [84]:
a={'name': 'Bob', 'age': 22, 'city': 'New York'}
b={"grade":"A+", "roll":56}
a.update(b)
print(a)

{'name': 'Bob', 'age': 22, 'city': 'New York', 'grade': 'A+', 'roll': 56}

 30. Write a code to convert a list of strings into a set.

In [45]:
list1=['Queen','King','Ace','Jocker']
s=set(list1)
print(s)
type(s)

{'Ace', 'King', 'Jocker', 'Queen'}

set